<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team</title>
  </head>
  <body>
    <h1><%=params["team"]["name"]%></h1>
    <h2>Team Motto: <%=params["team"]["motto"]%></h2>    
    <h2>Hero Name: <%=params["team"]["member"][0]["name"]%></h2>
    <p>Hero Power: <%=params["team"]["member"][0]["power"]%></p>
    <p>Hero Power: <%=params["team"]["member"][0]["bio"]%></p>
  </body>
</html>
